# ==========================
# MATCHMATRIX GIT IGNORE
# ==========================

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# PostgreSQL dumpy
*.sql.dump
*.dump
*.backup

# Lokální velké DB exporty
Dump/
MatchMatrix-platform/Dump/
backups/postgres_dumps/*.sql
backups/postgres_dumps/*.dump

# Reports
reports/*.txt
reports/*.csv

# Docker volumes
postgres-data/
redis-data/

# Local env
.env
.env.*

# VSCode
.vscode/

# OS
Thumbs.db
.DS_Store

# Temporary
_tmp_*
