@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Ametystová fialová - hluboká, ale jasně čitelná */
  --background: #2E2344; 
  --foreground: #F8FAFC;
}

body {
  background: var(--background);
  color: var(--foreground);
}